@import url(./debug.css);

:root{
  --header-height:3.75rem;
}

/*----------
Header
-----------*/

header{
  height: var(--header-height);
}

header .dropdown .dropdown-toggle::after{
  display: none;
}

/*-----------
Utilis
------------*/
.w-table{
  width: 6.25rem;
}

/*----------
Aside
-----------*/
aside{
   background-image: url('../img/sidebar-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

aside,
main{
  height: calc(100vh - var(--header-height));
}

main{
  background-color: #f8f9fa;
  overflow-y: auto;
}

main .header-main a{
  background-color:#165bba ;
}

.main-cards .table a{
  transition: background-color 200ms ease-in-out,
              color 200ms ease-in-out;
}

.main-cards .table a:hover{
  background-color: rgb(108,117,125);
  color: #fff;
}