@import url(./debug.css);

:root {
  --header-height: 3.75rem;
}

/*----------
Header
-----------*/

header {
  height: var(--header-height);
}

header .dropdown .dropdown-toggle::after {
  display: none;
}

/*-----------
Utilis
------------*/
.w-table {
  width: 6.25rem;
}

.logo-wrapper {
  height: var(--header-height);
}

.logo-wrapper img.logo-mobile {
  max-height: 100%;
}

.search-bar {
  position: relative;
}

.input-search {
  padding-left: 1.875rem;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
}

.ms-fs-cards {
  font-size: 0.875rem;
}

/*----------
Aside
-----------*/
aside {
  background-image: url("../img/sidebar-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

aside,
.section-main {
  height: calc(100vh - var(--header-height));
}

.ms-btn-hover {
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.section-main .header-main a.ms-btn-hover {
  background-color: #165bba;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.ms-btn-hover:hover,
.section-main .header-main a.ms-btn-hover:hover {
  background-color: #fff;
  color: #165bba;
}

.section-main {
  background-color: #f8f9fa;
  overflow-y: auto;
  padding-bottom: 1.25rem;
}

.section-main .header-main .offcanvas {
  width: 100%;
}

.section-main .header-main .offcanvas .ms-form-width {
  width: 100%;
}

main aside nav ul li {
  transition: background-color 200ms ease-in-out;
  width: 100%;
}

main aside nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.main-cards .table a {
  transition: background-color 200ms ease-in-out;
}

.main-cards .table a i {
  transition: color 200ms ease-in-out;
}

.main-cards .table a:hover {
  background-color: rgb(108, 117, 125);
}

.main-cards .table a:hover i {
  color: #fff;
}

.main-cards .classes .table tr th:not(:first-of-type) {
  text-align: center;
}

.main-cards .classes .table tr td:not(:first-of-type) {
  text-align: center;
}

.main-cards .table tbody tr {
  vertical-align: middle;
}

.main-cards .table .ms-name-col i {
  background-color: #f26551;
}

.main-cards .table .buttons-action a.btn {
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .section-main .header-main .offcanvas {
    width: 50vw;
    max-width: 43.75rem;
  }

  .section-main .header-main .offcanvas .ms-form-width {
    width: 50%;
  }
}
